.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pea-pilt {
  width:800px;
  border-radius: 5px;
}

body {
  background-color: rgb(240, 240, 240);
}

h2 {
  font-size: 16px;
  font-style: normal;
}

.kast div img{
height: 100px;
width: 200px;

}

.kast {
  display:flex;
  align-items: center;
  justify-content:space-evenly;

  
}

.kast div {
  background-color: white;
  border: 2px solid ;
  padding: 20px;
}
.horz-line {
  margin-left: 40%;
  margin-right: 40%;
  height:50px;
  
  
}

.kast p {
  font-size: 14px;
}